.single-container5
  %header.single-header5
    %h1.single-header5__logo5
      = link_to "#" do
        = image_tag 'logo.png', class: 'FurimaLogo5'
    %nav.single-header5__progress5
      %ol
        %li.single-header5__progress5__text5{ id: "first" }
          会員情報
          .single-header5__progress5__status5--red5
        %li.single-header5__progress5__text5--active5
          お届け先住所入力
          .single-header5__progress5__status5--red5
        %li.single-header5__progress5__text5
          支払い方法
          .single-header5__progress5__status5
        %li.single-header5__progress5__text5{ id: "end" }
          完了
          .single-header5__progress5__status5
  %main.single-main5
    %section.single-main5__container
      %h2.single-main5__container5__title5
        住所入力
      .single-main5__container5__form5__frame5
        =form_for(@address, url: addresses_path, method: :post) do |f|
          =render "devise/shared/error_messages", resource: @address
          .form-group5
            = f.label :郵便番号
            %span.form-group5__require5 必須
            = f.text_field :zipcode,{autofocus: true, placeholder: "例）123-4567", class: 'form-group5__input5'}
          .form-group5
            = f.label :都道府県
            %span.form-group5__require5 必須
            = f.text_field :prefecture, autofocus: true, placeholder: "例）北海道", class: 'form-group5__input5'
          .form-group5
            = f.label :市町村
            %span.form-group5__require5 必須
            = f.text_field :city, autofocus: true, placeholder: "例）札幌市", class: 'form-group5__input5'
          .form-group5
            = f.label :番地
            %span.form-group5__require5 必須
            = f.text_field :street, autofocus: true, placeholder: "例）青葉1-1-1", class: 'form-group5__input5'
          .form-group5
            = f.submit '次へ', class: "btn-default5 btn-blue5", url: "creditcard_path"
  = render "devise/registrations/registration_footer"

  