.mypage3
  .mypage-header3
  -#   .mypage-header-top
      .mypage-header-top-image3
      .mypage-header-top-input3
        何かお探しですか？
    -# .mypage-header-nav-box3
    -#   .ul.mypage-header-nav-root.list3
    -#     .li カテゴリーから探す
    -#     .li ブランドから探す
    -#   .mypage-header-menu-link3
    -#     .li いいね！一覧
    -#     .li お知らせ
    -#     .li やることリスト
    -#     .li マイページ
  .mypage-body3
    .mypage-side-bar3   
      %nav.mypage-side-bar__nav3
        %ul.mypage-side-bar__list1_3
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li マイページ
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li お知らせ
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li やることリスト
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li いいね！一覧
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 出品する
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 下書き一覧
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'
          
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 出品した商品 - 出品中
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 出品した商品 - 取引中
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'
          
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 出品した商品 - 売却済み
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 購入した商品 - 取引中
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'
          
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 購入した商品 - 過去の取引
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li ニュース一覧
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'
          
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 評価一覧
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li ガイド
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'
          
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li お問い合わせ
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'
          
        %h3.mypage-side-bar__nav-head3
          フリペイ
        %ul.mypage-side-bar__list2_3
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 売上・振込申請
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li ポイント
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

        %h3.mypage-side-bar__nav-head3
          設定
        %ul.mypage-side-bar__list3_3
          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li プロフィール
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 発送元・お届け先住所変更
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "/users/creditcard" ,class:"mypage-side-bar__list3" do
            %li 支払い方法
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li メール/パスワード
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 本人情報
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "#" ,class:"mypage-side-bar__list3" do
            %li 電話番号の確認
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

          = link_to "/users/log-out" ,class:"mypage-side-bar__list3" do
            %li ログアウト
            .mypage-side-bar__list-icon
              =icon 'fas','chevron-right'

    .mypage-main-content3
      .mypage-main-content__user3
        = link_to '#',class:"mypage-main-content__user-icon3" do
          %span.image
            = image_tag src="/assets/icon/member_photo_noimage_thumb.png", size: "60x60"
          %p ユーザー名
          %p 評価 0  出品数 0
      .mypage-main-active
        .mypage-main-tab-area
          .mypage-main-tab.active
            %p お知らせ
          .mypage-main-tab
            %p やることリスト
        .mypage-main-content-area
          .mypage-main-content.show
            =link_to '#',class:"mypage-main-content_item-information-block3" do
              .mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/logo/logo-icon.png", size: "48x48"
              .mypage-main-content_item-information-block__text3
                〈まずはエントリー〉今だけ最大P1,000→最大P2,000に増量！フリペイスマート払いでもらえる
                .mypage-main-content_item-information-block__time3
                  =icon 'fas','clock'
                  1時間前
              .mypage-main-content_item-information-block__link3
                =icon 'fas','chevron-right'

            =link_to '#',class:"mypage-main-content_item-information-block3" do
              .mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/logo/logo-icon.png", size: "48x48"
              .mypage-main-content_item-information-block__text3
                7日後、P500還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                .mypage-main-content_item-information-block__time3
                  =icon 'fas','clock'
                  1日前
              .mypage-main-content_item-information-block__link3
                =icon 'fas','chevron-right'

            =link_to '#',class:"mypage-main-content_item-information-block3" do
              .mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/logo/logo-icon.png", size: "48x48"
              .mypage-main-content_item-information-block__text3
                〈販売手数料が実質0円!?〉シルバーウィークにまとめて出品!
                .mypage-main-content_item-information-block__time3
                  =icon 'fas','clock'
                  2日前
              .mypage-main-content_item-information-block__link3
                =icon 'fas','chevron-right'

            =link_to '#',class:"mypage-main-content_item-information-block3" do
              .mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/logo/logo-icon.png", size: "48x48"
              .mypage-main-content_item-information-block__text3
                事務局からの個別メッセージ[ログイン通知]
                .mypage-main-content_item-information-block__time3
                  =icon 'fas','clock'
                  3日前
              .mypage-main-content_item-information-block__link3
                =icon 'fas','chevron-right'

          .mypage-main-content
            =link_to '#',class:"mypage-main-content__todo-block3"do
              .mypage-main-content__todo-block__image3
                %span.image
                  =image_tag src="/assets/logo/logo-icon.png", size: "48x48"
              .mypage-main-content__todo-block__text3
                ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
                .mypage-main-content_item-todo-block__time3
                  =icon 'fas','clock'
                  28日前
              .mypage-main-content__todo-block__link3
                =icon 'fas','chevron-right'

      .mypage-main-content__go-item-list3
        %p 一覧を見る

      .mypage-purchase-active
        .mypage-purchase-head
          %p 購入した商品
        .mypage-purchase-tab-area
          .mypage-purchase-tab.active
            %p 取引中
          .mypage-purchase-tab
            %p 過去の取引
        .mypage-purchase-content-area
          .mypage-purchase-content.show
            %span.image
              =image_tag src="/assets/logo/logo-icon-grey.png", size: "60x60"
            %p 取扱中の商品がございません

          .mypage-purchase-content
            %span.image
              =image_tag src="/assets/logo/logo-icon-grey.png", size: "60x60"
            %p 過去に取引した商品がありません

  
  -#mypage-footer3
    mypage-footer-head
      .ul フリマについて
        li 会社概要（運営会社）
        li採用情報
        li プレスリリース
        li 公式ブログ
        liフリマロゴ利用ガイドライン
        -# /icon %twitter
        -# /icon facebook
      .ul ヘルプと各種情報
        li フリマガイド
        li らくらくフリマ便
        li ゆうゆうフリマ便
        li 梱包・発送たのフリ便
        li 車体取引ガイド
        li フリマあんしん・あんぜん宣言！
        li 偽ブランド品撲滅への取り組み
        li フリマボックス
        li 本・漫画のランキング
      .ul プライバシーと利用規約
        li プライバシーポリシー
        li フリマ利用規約
        li コンプライアンスポリシー
        li 個人データの安全管理に係る基本方針
        li 特定商取引に関する表記
        li 資金決済法に基づく表示
        li 法令遵守と犯罪防止のために
      .ul 国
        li 日本
        li United States


    .mypage-footer-bottom3
      -# /mypage-footer-bottom-image
      -# /mypage-footer-bottom-copyright