.mypage3
  .mypage-header3
  -#   .mypage-header-top
      .mypage-header-top-image3
      .mypage-header-top-input3
        何かお探しですか？
    -# .mypage-header-nav-box3
    -#   .ul.mypage-header-nav-root.list3
    -#     .li カテゴリーから探す
    -#     .li ブランドから探す
    -#   .mypage-header-menu-link3
    -#     .li いいね！一覧
    -#     .li お知らせ
    -#     .li やることリスト
    -#     .li マイページ
  .mypage-body3
    .mypage-side-bar3   
      %nav.mypage-side-bar__nav3
        %ul.mypage-side-bar__list1_3
          = link_to "#" , class:"list-link" do
            %li.mypage-side-bar__list3
              %p マイページ
              .mypage-side-bar__list-icon
                =icon 'fas','chevron-right'
          
          = link_to '#' do
            %li.mypage-side-bar__list3 
              お知らせ
              %icon.fas.chevron-right
          
          = link_to '#' do
            %li.mypage-side-bar__list3 
              やることリスト
              %icon.fas.chevron-right
          
          = link_to '#' do
            %li.mypage-side-bar__list3 
              いいね！一覧
              %icon.fas.chevron-right
          
          = link_to '#' do
            %li.mypage-side-bar__list3 
              出品する
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              下書き一覧
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              出品した商品 - 出品中
              %icon.fas.chevron-right
          
          = link_to '#' do
            %li.mypage-side-bar__list3 
              出品した商品 - 取引中
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              出品した商品 - 売却済み
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              購入した商品 - 取引中
              %icon.fas.chevron-right
          
            
          = link_to '#'do
            %li.mypage-side-bar__list3 
              購入した商品 - 過去の取引
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              ニュース一覧
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              評価一覧
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              ガイド
              %icon.fas.chevron-right
          
          = link_to '#'do
            %li.mypage-side-bar__list3 
              お問い合わせ
              %icon.fas.chevron-right
        %h3.mypage-side-bar__nav-head3
          フリペイ
        %ul.mypage-side-bar__list2_3

          = link_to '#'do
            %li.mypage-side-bar__list3 
              売上・振込申請
              %icon.fas.chevron-right

          = link_to '#'do
            %li.mypage-side-bar__list3 
              ポイント
              %icon.fas.chevron-right

        %h3.mypage-side-bar__nav-head3
          設定
        %ul.mypage-side-bar__list3_3
          = link_to '#'do
            %li.mypage-side-bar__list3 
              プロフィール
              %icon.fas.chevron-right

          = link_to '#'do
            %li.mypage-side-bar__list3 
              発送元・お届け先住所変更
              %icon.fas.chevron-right

          = link_to "/users/creditcard" do
            %li.mypage-side-bar__list3 
              支払い方法
              %icon.fas.chevron-right

          = link_to '#'do
            %li.mypage-side-bar__list3
              メール/パスワード
              %icon.fas.chevron-right

          = link_to '#' do
            %li.mypage-side-bar__list3
              本人情報
              %icon.fas.chevron-right

          = link_to '#' do
            %li.mypage-side-bar__list3
              電話番号の確認
              %icon.fas.chevron-right

          = link_to "/users/log-out" do
            %li.mypage-side-bar__list3
              ログアウト
              %icon.fas.chevron-right

    .mypage-main-content3
      .mypage-main-content__user-icon3
        = link_to '#' do
          %span.image
            = image_tag src="/assets/images/icon/member_photo_noimage_thumb.png", size: "60x60"
          %p ユーザー名
        %ul.mypage-performance-number3
          %li 評価 0  出品数 0
      .mypage-main-content__active3
        .mypage-main-content__item-information3
          %p お知らせ
          %ul.mypage-main-content_item-information-block3
            =link_to '#' do
              %li.mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/images/logo/logo.png", size: "48x48"
              %li.mypage-main-content_item-information-block__text3
                〈まずはエントリー〉今だけ最大P1,000→最大P2,000に増量！フリペイスマート払いでもらえる
              =icon 'fas','chevron-right'

            =link_to '#' do
              %li.mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/images/logo/logo.png", size: "48x48"
              %li.mypage-main-content_item-information-block__text3
                7日後、P500還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
              %li.fa.fa-chevron-right

            =link_to '#' do
              %li.mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/images/logo/logo.png", size: "48x48"
              %li.mypage-main-content_item-information-block__text3
                〈販売手数料が実質0円!?〉シルバーウィークにまとめて出品!
              %li.fa.fa-chevron-right

            =link_to '#' do
              %li.mypage-main-content_item-information-block__image3
                %span.image
                  =image_tag src="/assets/images/logo/logo.png", size: "48x48"
              %li.mypage-main-content_item-information-block__text3
                事務局からの個別メッセージ[ログイン通知]
              %li.fa.fa-chevron-right
        .mypage-main-content__todo3
          %p やることリスト
          %ul.mypage-main-content__todo-block3
            =link_to '#' do
              %li.mypage-main-content__todo-block__image3
                %span.image
                  =image_tag src="/assets/images/logo/logo.png", size: "48x48"
              %li.mypage-main-content__todo-block__text3
                ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
              %li.fa.fa-chevron-right

      .mypage-main-content__go-item-list3
        一覧を見る

      .mypage-main-content__purchase-item3
        %p 購入した商品
        %ul.mypage-main-content__purchase-item-tab3
          %li 取引中
          %li 過去の取引
  
  -#mypage-footer3
    mypage-footer-head
      .ul フリマについて
        li 会社概要（運営会社）
        li採用情報
        li プレスリリース
        li 公式ブログ
        liフリマロゴ利用ガイドライン
        -# /icon %twitter
        -# /icon facebook
      .ul ヘルプと各種情報
        li フリマガイド
        li らくらくフリマ便
        li ゆうゆうフリマ便
        li 梱包・発送たのフリ便
        li 車体取引ガイド
        li フリマあんしん・あんぜん宣言！
        li 偽ブランド品撲滅への取り組み
        li フリマボックス
        li 本・漫画のランキング
      .ul プライバシーと利用規約
        li プライバシーポリシー
        li フリマ利用規約
        li コンプライアンスポリシー
        li 個人データの安全管理に係る基本方針
        li 特定商取引に関する表記
        li 資金決済法に基づく表示
        li 法令遵守と犯罪防止のために
      .ul 国
        li 日本
        li United States


    .mypage-footer-bottom3
      -# /mypage-footer-bottom-image
      -# /mypage-footer-bottom-copyright