.pcHeader1
  .pcHeader1__headerInner1
    .pcHeader1__mainHeader1
      .pcHeader1__FURIMA_icon1
        = link_to root_path,class: "serchbtn" do
          = image_tag asset_path("icon.png"), class: "image"
      .pcHeader1__searchBox1
        %form.form
          %input.class-name__text{type: "text" ,placeholder: "キーワードから探す"}
            = icon('fas fa-search', class: 'icon')
    .pcHeader1__nav1
      .listsLeft1
        .listsLeft__item--first1
          -#  = link_to 
          カテゴリー
        .listsLeft__item1
          -#  = link_to 
          ブランド   
      .listsRight1
        .listsRight__item--login1
          - if current_user 
            = link_to users_log_out_path do
              ログアウト
          - else
            = link_to new_user_session_path do
              ログイン
        .listsRight__item--new1
          - unless current_user
            = link_to new_user_registration_path do
              新規会員登録