-# %h1 Items#index
-# %p Find me in app/views/items/index.html.erb


.pcHeader1
  .pcHeader1__headerInner1
    .pcHeader1__mainHeader1
      .pcHeader1__FURIMA_icon1
        = link_to root_path,class: "serchbtn" do
          = image_tag asset_path("icon.png"), class: "image"
      .pcHeader1__searchBox1
        %form.form
          %input.class-name__text{type: "text" ,placeholder: "キーワードから探す"}
            = icon('fas fa-search', class: 'icon')
    .pcHeader1__nav1
      .listsLeft1
        .listsLeft__item--first1
          -#  = link_to 
          カテゴリー
        .listsLeft__item1
          -#  = link_to 
          ブランド   
      .listsRight1
        .listsRight__item--login1
          -#  = link_to 
          ログイン
        .listsRight__item--new1
          -#  = link_to 
          新規会員登録
        .logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
        
.main1
  .main1__mainVisual1
    .content1
      .content__subtitle1
        人生を変えるフリマアプリ
      .content__text1
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .content__btn1
        .aBtn1
          = link_to root_path,class: "linkIcon aBtn" do
            = image_tag asset_path("app-store.svg"), class: "aBtn", width:"180px"
        .gBtn1
          = link_to root_path,class: "linkIcon gBtn" do
            = image_tag asset_path("google-play.svg"), class: "gBtn", width:"180px"
  .main1__topIntroduction1
    .subtitle1
      FURIMAが選ばれる3つの理由
      .after1
    .lists1
      .list1
        .list__list__pict
          .number
            1
          = image_tag src="pict-reason-01.jpg", width:"217.8px", height:"217.8px"
        .list__text
          %span.time 3分 
          ですぐに出品
          .list__description
            スマホで入力するだけで簡単に出品できる！
      .list
        .list__list__pict
          .number
            2
          = image_tag src="pict-reason-02.jpg", width:"217.8px", height:"217.8px"
        .list__text
          %span.color シンプル 
          で使いやすい
          .list__description
            めんどくさい入力は必要なく、検索も購入もスムーズ！
      .list
        .list__list__pict
          .number
            3
          = image_tag src="pict-reason-03.jpg", width:"217.8px", height:"217.8px"
        .list__text
          手数料
          %span.kakaku 業界最安
          .list__description
            最大3%でお得に出品&購入！
  .main1__topMiddleDl1
    .topMiddleDl__inner1
      .subtitle1
        会員数日本一位
        .text1
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .btn1
          .aBtn1
            = link_to root_path,class: "linkIcon aBtn" do
              = image_tag asset_path("app-store.svg"), class: "aBtn", width:"180px"
          .gBtn1
            = link_to root_path,class: "linkIcon gBtn" do
              = image_tag asset_path("google-play.svg"), class: "gBtn", width:"180px"
  .main1__topKeyFeatures1
    .head1
      FURIMAの特徴
      .after1
    .items1
      .item1
        .item__img1
          = image_tag src="icon-01.png", width: "100.55px", height:"154.77px"
        .item__subtitle1
          簡単に売り買いできる
        .item__detail1
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item1
        .item__img1
          = image_tag src="icon-03.png", width: "100.55px", height:"154.77px"
        .item__subtitle1
          売上金は即日振込みに対応
        .item__detail1
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item1
        .item__img1
          = image_tag src="icon-04.png", width: "100.55px", height:"154.77px"
        .item__subtitle1
          様々な支払いに対応
        .item__detail1
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickupContainer1
    .head1
      ピックアップカテゴリー
    .productBox1
      .productHead1
        .title1 
          メンズ新着商品
      .productLists1
        - @mens_items.each do |item|
          .productList1
            .productList--img1
              = link_to item_path(item.id) do
                = image_tag item.images[0].src.url, width: "220px", height:"150px"
            .productList--body1
              .name1
                %span= item.name
              .details1
              .ul1
                %span= item.price
                %form.form
                  = icon('fas', 'star', class: 'icon')
                  1
                  %br
              .p1
                円(税込)

  .pickupContainer1
    .head1
      ピックアップブランド
    .productBox1
      .productHead1
        .title1
          シャネル新着商品
      .productLists1
        - @chanel_brands.each do |item|
          .productList1
            = link_to item_path(item.id) do
              .productList--img1
                = image_tag item.images[0].src.url, width: "220px", height:"150px"
              .productList--body1
                .name1
                  %span= item.name
                .details1
                .ul1
                  %span= item.price
                  %form.form
                    = icon('fas', 'star', class: 'icon')
                    1
                    %br
                .p1
                  円(税込)

.appBanner1
  .inner1
    .inner__title1
      だれでもかんたん、人生を変えるフリマアプリ
    .inner__text1
      今すぐ無料ダウンロード！
    .inner__icon1
      .aBtn1
        = link_to  root_path,class: "linkIcon aBtn" do
          = image_tag asset_path("app-store.svg"), class: "aBtn", width:"180px"
      .gBtn1
        = link_to root_path,class: "linkIcon gBtn" do
          = image_tag asset_path("google-play.svg"), class: "gBtn", width:"180px"
.footer1
  %ul.contents
    .content
      .content__head
        FURIMAについて
        %ul
          %li
            = link_to root_path do
              会社概要（運営会社）
          %li
            = link_to root_path do
              プライバシーポリシー
          %li
            = link_to root_path do
              FURIMA利用規約
          %li
            = link_to root_path do
              ポイントに関する特約
    .content
      .content__head
        FURIMAを見る
        %ul
          %li
            = link_to root_path do
              カテゴリー一覧
          %li
            = link_to root_path do
              ブランド一覧
    .content
      .content__head
        ヘルプ＆ガイド
        %ul
          %li
            = link_to root_path do
              FURIMAガイド
          %li
            = link_to root_path do
              FURIMAロゴ利用ガイドライン
          %li
            = link_to root_path do
              お知らせ
  .footer__logo1
    = link_to root_path,class: "kuro" do
      = image_tag asset_path("kuro.png"), class: "image"
    .p
      © FURIMA
%li
  = link_to new_item_path do
    .purchaseBtn
      .purchaseBtn__text
        出品する
        = image_tag src="icon_camera.png", width: "54px", height:"54px"
