.ItemNewContent
  .LogoWrapper
    = link_to '#' do
      = image_tag 'logo.png', class: 'LogoWrapper__logo'
  = form_with model: @item, class: "ItemForm" do |f|
    .ItemForm__image.borderbottom
      .labelArea
        %p.label 出品画像
        %span.required 必須
      %span.description 最大10枚までアップロードできます
      = f.fields_for :images do |i|
        = i.file_field :src, class: "itemInput imageInput"
    .ItemForm__item.borderbottom
      .labelArea
        %p.label 商品名
        %span.required 必須
      = f.text_field :name, class: "itemInput lineInput"
      .labelArea
        %p.label 商品の説明
        %span.required 必須
      = f.text_area :text, rows: "7", class: "itemInput multipleLines"
    .ItemForm__itemDetails.borderbottom
      %p.headline 商品の詳細
      .labelArea
        %p.label カテゴリー
        %span.required 必須
      -# とりあえずフロント整えるためにinputタグ設置
      %input.itemInput.lineInput
      .labelArea
        %p.label ブランド
        %span.any 任意
      -# とりあえずフロント整えるためにinputタグ設置
      %input.itemInput.lineInput
      .labelArea
        %p.label 商品の状態
        %span.required 必須
      -# とりあえずフロント整えるためにinputタグ設置
      %input.itemInput.lineInput
    .ItemForm__delivery.borderbottom
      %p.headline 配送について
      .labelArea
        %p.label 配送料の負担
        %span.required 必須
      -# とりあえずフロント整えるためにinputタグ設置
      %input.itemInput.lineInput
      .labelArea
        %p.label 発送元の地域
        %span.required 必須
      -# とりあえずフロント整えるためにinputタグ設置
      %input.itemInput.lineInput
      .labelArea
        %p.label 発送までの日数
        %span.required 必須
      -# とりあえずフロント整えるためにinputタグ設置
      %input.itemInput.lineInput
    .ItemForm__price.borderbottom
      %p.headline 価格（¥300〜9,999,999）
      .priceArea
        .labelArea
          %p.label 販売価格
          %span.required 必須
        .priceArea__input
          %span.enmark ¥
          = f.number_field :price, class: "lineInput priceInput"
    .ItemForm__submit
      = f.submit '出品する', class: "exhibitionBtn"

