= render partial: 'header'
%nav.navbar2
  %ul.navbar2__lists
    %li.navlist2
      = link_to 'FURIMA', '#' ,class: 'navContent2'
    %li.navlist2
      %i.fa.fa-angle-right
    %li.navlist2
      = link_to 'レディース', '#' ,class: 'navContent2'
    %li.navlist2
      %i.fa.fa-angle-right
    %li.navlist2
      = link_to 'トップス', '#' ,class: 'navContent2'
    %li.navlist2
      %i.fa.fa-angle-right
    %li.navlist2
      = link_to 'Tシャツ/カットソー(半袖/袖なし)', '#' ,class: 'navContent2'
    %li.navlist2
      %i.fa.fa-angle-right
    %li.navlist2
      %p
        テスト
.main2
  .showMain2 
    .contentRight2
      .itemBox2
        %h2.itemBox2__name2 
          テスト
        .itemBox2__body2
          %ul.iteminfo1_2
            %li.itemList1_2
              = image_tag asset_path("beef.jpeg") ,class: "img1_2"
              %ul.iteminfo2_2
                %li.itemList2_2
                  = image_tag asset_path("beef2.jpeg") ,class: "img2_2"
        .itemContent2
          %span.price2
            ¥10000 
          .itemContent2__pricedetail2
            %span.tax2
              (税込)
            %span.shipping2
              送料込み  
          .itemDetail2 テストテストテストテストテスト
          .table2
            %table.detail2
              %tbody.tbody2
                %tr
                  %th 出品者
                  %td あああ
                %tr
                  %th カテゴリー
                  %td
                    = link_to 'レディース', '#' ,class: "category2"
                    %br/
                    = link_to 'トップス', '#' ,class: "category2"
                    %br/
                    = link_to 'Tシャツ/カットソー(半袖/袖なし)', '#',class: "category2"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 新品/未使用
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    = link_to '北海道', '#' ,class: "area2"
                %tr
                  %th 発送日の目安
                  %td 1-2日で発送
          .ItemEditBtn4
            = link_to '編集する', edit_item_path(params[:id])
          .optionalArea2
            %ul.like2
              %li.likeBtn2
                %i.fa.fa-star
                お気に入り 1
            %ul.optional2
              %li.optional2__Btn2
                = link_to '#' do 
                  %i.fa.fa-flag
                  不適切な商品の通報   
        .commentBox2
          %ul.commentBox2__Contents2
            %form.form2
              %textarea.commentBody2 
              %p.noticeMsg2
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br  
              %button.commentBtn2{name: "button", type: "submit"}
                %i.fa.fa-comment2
                コメントする
      %ul.links2
        %li.links2__prev2
          = link_to '#' ,class:"previmg1-2" do 
            %i.fa.fa-angle-left
            %span.footnav2
              前の商品
        %li.links2__next2
          = link_to '#' ,class: "previmg2-2" do 
            %span.footnav2
              後ろの商品
            %i.fa.fa-angle-right
      .relatedItems2 
        = link_to 'レディースをもっと見る', '#' ,class: 'more2'
        .productLists2
          .productLists2__contents2
            = link_to "#" ,class: "productimg2" do
              = image_tag'curry.png' ,class: 'curryimg2'
          .productLists2__body2
            %h3
              テスト
              .details2
                %ul.bottomcontent2
                  %li.contentmoney2
                    10000円
                    %p
                      (税込) 
                    %li.contenticon2
                      %i.fa.fa-star 1  
= render partial: 'footer'



                  
