.ItemNewContent4
  .LogoWrapper4
    = link_to root_path do
      = image_tag 'logo.png', class: 'LogoWrapper4__logo4'

.Main__Component-sc-121eqei1
  .Main__Component-sc-121eqei1__ComponentOrder1
    .OrderCoupon__Inner1k
      %label 登録クレジットカード情報
    .OrderPayment__Component11k
      = "**** **** **** " + @default_card_information.last4
      %br
      %br
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
      = form_tag(card_path, method: :DELETE, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        .OrderPayment__Component11kk
          %button 削除する

.Typography__Component-sc-10fxrsq-8k
  = link_to "マイページ", user_path(current_user), class: 'log-out-btn1k'


.ItemNewContent4
  .LogoWrapper4
    = link_to root_path do
      = image_tag 'logo.png', class: 'LogoWrapper4__logo4'

      
